* {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', 'Open-sans', sans-serif;
}

.astral-nav-div {
  padding: 1% 0 1% 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 1px solid #efefef; */
}

.astral-brand {
  display: flex;
  margin-left: 2rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
  /* color: red; */
  /* margin-right: auto; */
  /* margin: 2rem auto 2rem 2rem; */
}

.astral-nav {
  display: flex;
  list-style: none;
  gap: 4rem;
  margin-right: 7rem;
  padding-bottom: 1%;
}

.astral-nav li {
  overflow: visible;
}

.astral-nav-item {
  font-family: 'Red Hat Display', sans-serif;
  overflow: hidden;
}

.active {
  border-bottom: 2px solid #00d2ff;
}

.trending-div {
  padding-top: 5%;
  width: 55%;
  margin: auto;
}
.trending-div h1 {
  font-family: sans-serif;
  font-size: 2.5rem;
  border-bottom: 5px solid #ff0000;
  width: 22%;
}

.trending-data-div {
  margin: 15px 0 15px 0;
  /* border: 1px solid black; */
  padding: 1%;
  /* border-radius: 5px; */
  border-bottom: 2px solid grey;
  /* background: rgba( 255, 255, 255, 0.25 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 ); */
  /* backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px ); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 );
  overflow: hidden; */
}

.trending-data-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.thumbnail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10%;
}

.trending-data-latest {
  margin: 0.5% 0 0.5% 0;
}
.trending-author {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.trending-time {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
.trending-data-des {
  /* padding-right: 30%; */
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.reply-count-div {
  position: relative;
  left: 80%;
  bottom: 110px;
  font-family: 'Red Hat Display', sans-serif;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
.reply-count-span {
  margin-left: 3px;
}
/* .reply-count {
  margin-bottom: 100px;
} */
.topics-div {
  overflow: hidden;
  margin-bottom: 7%;
}
.topic-header {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serif;
}

.topic-header h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #00d2ff;
}

.topic-header p {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.topic-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 30%);
  grid-row-gap: 30px;
  grid-column-gap: 75px;
  overflow: hidden;
}
.topic-grid-item {
  height: 500px;
  border: 2px solid black;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.topic-grid-item:hover {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
  transition: 0.5s;
}
.topic-grid-item img {
  width: 100%;
  object-fit: cover;
  height: 50%;
}
.topic-grid-item-words {
  padding: 5%;
  font-family: sans-serif;
}
.topic-grid-item-words h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  width: max-content;
  border-bottom: 3px solid transparent;
}
.topic-grid-item-words h3:hover {
  cursor: pointer;
  border-bottom: 3px solid #00d2ff;
}
.topic-grid-item-words p {
  line-height: 1.5;
}
/* .fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
} */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.browse-div {
  width: 60%;
  margin: auto;
}

.create-thread-container {
  width: 60%;
  margin: 5% auto;
}

.create-thread-header {
  font-family: "Roboto", sans-serif;
}

.create-thread-label {
  font-family: "Roboto", sans-serif;
  margin: 2% 0 1% 0;
}
.create-thread-input {
  outline: none;
  border: 2px solid #00d2ff;
  border-radius: 5px;
  height: 2rem;
  width: 50%;
  text-indent: 2%;
}

.create-thread-area {
  outline: none;
  border: 2px solid #00d2ff;
  border-radius: 5px;
  width: 55%;
  box-sizing: border-box;
  padding: 1%;
  /* background: #f0f0f0; */
}

.create-thread-btn {
  color: #fff;
  margin-top: 3%;
  outline: none;
  font-size: 1rem;
  border: 1px solid #00d2ff;
  background: #00d2ff;
  padding: 0.75rem 4rem;
  box-shadow: 0px 12px 30px rgba(0, 210, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
















/** Tral's Sphaggeti **/

.forum-container {

  background-color:black;
}


.forum-nav-container {

  display:flex;
  justify-content: space-between;
  align-items: center;


  padding:1.3rem 3rem 1.3rem 3rem;

  background-color: #ECEFF6;

  box-shadow:0px 4px 8px #dce0ea;
  
  margin:0 0 0.2rem 0; 

} /** How to have box shadow on top of element and then remove the margin **/

.forum-nav-home-btn {

  padding:0.6rem 1.3rem 0.6rem 1.3rem;

  border:1px solid black;

  background:transparent;

  border-radius:5px;


}




.hero-container {

  display:flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color:#F4F6F9;
  

  height:10rem;

}


.forum-options-container {

  display:flex;
  justify-content: space-between;

  margin:1rem 6rem 1rem 6rem;


}




.left-options-container {

  display:flex;
  /* alig and justify? */
  flex-direction:column;


  /* height: 5rem;

  width:10rem; */

  /* background-color:black; */

  gap:0.3rem;


}
.tt-container {

  display:flex;
  justify-content: space-between;

  gap:1rem;
}


.forum-btns {

  border:transparent;

  padding:0.6rem 2rem 0.6rem 2rem;

  border-radius:3px;
  
  background-color:#dce0ea;


}


create-thread-btn {

  padding:0.8rem 2.3rem 0.8rem 2.3rem; 
  /* I wonder if this would stretch the tt buttons too when the create btn is stretched In that gap is more appropriate to use */
  
}
/* .forum-create-btn {



}
.forum-thread-btn {


} */




.right-options-container {
  display:flex;
  justify-content: space-between;

  gap:1rem;


}

.lr-btns {

  border:transparent;

  /* padding:0.8rem 2rem 0.8rem 2rem; */

  border-radius:3px;
  
  background-color:#dce0ea;

  /* height:2.5rem; */
  height:2.5rem;
  width:6rem;
  
}


.forum-feed {

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin:0 0 5rem 0;
  
}


.forum-container {

  /* height:auto;
  width:auto; */

  display:flex;
  flex-direction:column;

  /* justify-content: center; */
  /* align-items: center; */
}


/** Tral's Forum Spaggetti ends here */


/** Tral's User Threads spaggetti for the forum starts here */


.thread-container {

  display:flex;
  flex-direction:row;

  justify-content:space-between;

  /* gap:10rem; */
  gap:15rem;



  background-color: #fafafb;

  border-radius:5px;
  /* padding:1rem 2rem 1rem 2rem; */
  padding:1.5rem 2rem 1.5rem 2rem;


  /* border-bottom:1px solid #aaafba; */
  border-bottom:1px solid #d1d5dc;


}

.thread-container:hover {

  background-color:#e4e6ed;
  cursor:pointer;
}

.avatar-text-container {
  display:flex;
  flex-direction:row;
  gap:2rem;

  width:50rem;

  align-items: center;
}
.thread-text-container {

  display:flex;
  flex-direction: column;


  



}

.thread-description {
  color:#7c7f86;
}
.reply-bubble {
  /* font-weight:800; */

  display:flex;
  flex-direction:row;
  /* justify-content:center; */
  /* align-items:center; */
  align-items:flex-end;


  gap:0.3rem;
  
}

.reply-bubble-icon {
  font-size:1.3rem;
  color:#aaafba;
}
.thread-icon {
  /* font-size:6rem; */
  font-size:8rem;


  /* background-color: #00d2ff; */
  /* color:#dce0ea; */
  color:#e4e6eb;

  
}



/** Tral's Feature Specific Spaggetti */

.create-form-main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height:30rem;
}

.create-form-container {

  display:flex;
  flex-direction:column;
  justify-content:center;

  width:30rem;



}

.create-form-inputs {
  outline:none;

  border:2px solid #c2c6d0;

  border-radius:5px;

  padding:0.5rem;

  margin:0 0 1rem 0;
}

.description {



}


.create-submit-btn {

  border:none;
  border-radius:5px;

  /* padding:1rem 3rem 1rem 3rem; */

  height:2rem;
  width:auto;
}



/** Tral's Left Spaggetti */

.topics-main-container {

  display: flex;
  justify-content: center;
  align-items: center;

  height:5rem;

}

topic-container {

  background-color:black;
  margin:1rem;
}

.topic-container {

  background-color:#d7dbe4;
  margin:0.3rem;

  padding:1rem 2rem 1rem 2rem;

  border-radius:3px;

}


.topics-root-container {

  display:flex;
  flex-direction:column;

  justify-content: center;
  align-items: center;

  height:30rem;

}